<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAZJE4GUiryn-hhc7eeiMjvYNxsDR-26c</string>
	<key>GCM_SENDER_ID</key>
	<string>467565888661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTest1</string>
	<key>PROJECT_ID</key>
	<string>hajimeapp-20e2f</string>
	<key>STORAGE_BUCKET</key>
	<string>hajimeapp-20e2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467565888661:ios:0e099ef144e567e596c79c</string>
</dict>
</plist>